<ng-container>
  <label for="do">To do</label><br />
  <input type="text" id="do" name="do" #do /><br />
  <label for="date">Deadline</label><br />
  <input type="date" id="date" name="date" #date />
  <button type="submit" (click)="fPrint({ date: date.value, todo: do.value })">
    Click
  </button>

  @for (todo of todo; track $index) {

  <div
    class="task"
    [style.text-decoration]="todo.isChecked ? 'line-through black' : 'none'"
  >
    <div>{{ todo.date }}</div>
    <div>{{ todo.todo }}</div>
    <input type="checkbox" (click)="todo.isChecked = true" />
  </div>

  }
</ng-container>
